.window {
    width: 45%;
    border-radius: 8px;
    padding: 1% 0;
    position: relative;
}

.x-label {
    position: absolute;
}

.y-label {
    position: absolute;
    transform: rotate(-90deg);
}